

/* TO DO: responsive media query -> remove the border + title margin */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black!important;
}

#main {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 64px 128px;
}
#chart-container {
    height: 560px;
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-self: center;
    position: relative;
    border: 1px solid mediumspringgreen;
    color: mediumspringgreen;
}

#title {
    text-align: center;
    color: mediumspringgreen;
}

#chart {
    position: absolute;
    margin-top: 50px;
    color: mediumspringgreen;
}

@media (max-width: 800px) {
    #chart-container {
        border: none;
    }
}








